.main {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    background: #222;
    padding: 20px;
    cursor: pointer;
    width: 100%;
    border-radius: 12px;
}

.main h2 {

}

.main button {
    padding: 10px;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    background-color: rgb(134, 33, 107);
    color: #fff;
    transition: 0.2s;
}

.main button:hover {
    transform: scale(1.05);
    background-color: rgb(179, 33, 140);
}