@import "../../variables.css";

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .row {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  label {
    font-size: 1rem;
    color: var(--primary-text-color);
  }
  
  select,
  input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #444;
    color:  var(--primary-text-color);
    font-size: 1rem;
  }
  
  .submit_button {
    background: var(--submit-color);
    color:  var(--primary-text-color);
    border: none;
    padding: 12px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .submit_button:hover {
    background: #2980b9;
  }
  