.charts_container {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-block-start: 2vh;
  }
  
  .chart {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 90%;
  }
  