body {
    margin: 0 auto;
    padding:0;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-size: 1.2rem;
}

h1,h2,h3,h4,h5,h6,p,ul,li,a {
    margin:0;
    padding:0;
}
