:root {
    --primary-text-color: #ffffff;
    --dark-text-color: #333;
    --primary-bg-color: #333;
    --accent-bg-color: #222;
    --expense-bg-color: #e74c3c;
    --income-bg-color:  #2ecc71;
    --submit-color:  #3498db;
}